.container2 {
  padding: 70px;
  width: 100%;
}

.page-area2 {
  max-width: 900px;
  display: inline-block;
}

.headx{
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 2em;
  padding-top: 40px;
}
