.container {
  padding: 70px;
  width: 100%;
}

.page-area {
  max-width: 900px;
  display: inline-block;
}

.head2{
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 2em;
  padding-top: 40px;
}

